WebFormTest/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExaminationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExaminationDTO" nillable="true" type="tns:ExaminationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExaminationDTO" nillable="true" type="tns:ArrayOfExaminationDTO" />
  <xs:complexType name="ExaminationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="CutOffMark" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExaminationDTO" nillable="true" type="tns:ExaminationDTO" />
</xs:schema>